{% extends "picture-base.html" %}
{% load staticfiles %}

{% block title %}
重发激活邮件 | 医时代
{% endblock %}

{% block othercss %}
<link rel="stylesheet" href="{% static "stylesheets/sass/registration.css" %}">
{% endblock %}

{% block body %}
  <h2>加入医时代 &emsp; 科学了解乙肝治疗</h2>

  <p>
  还未收到激活邮件？
  </p>
  <p>
  请在下面输入您注册时使用的邮箱地址，
  我们将为您重新发送激活邮件。
  </p>

  <form action="" method="post">{% csrf_token %}
    <table class="send-activation-mail">
      <tr>
        <td>
          <input type="text" name="email" value="{{ form.email.value|default_if_none:"" }}" placeholder="您注册时的邮箱地址" class="email">
        </td>
        <td class="error">{{ form.email.errors|join:"" }}</td>
      </tr>
    </table>
    <input type="submit" value="重发激活邮件" />
  </form>
{% endblock %}

<!-- vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: -->
