{% extends "picture-base.html" %}
{% load staticfiles %}

{% block title %}
账户已激活 | 97 随访
{% endblock %}

{% block othercss %}
<link rel="stylesheet" href="{% static "stylesheets/sass/registration.css" %}">
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // login url
    var login_url = '{% url login %}';

    $(document).ready(function() {
      $("#login").bind("click", function() {
        window.location.href = login_url;
      });
    });
  </script>
{% endblock %}

{% block body %}
  <h2>加入97随访 &emsp; 科学了解乙肝治疗</h2>

  <h4>欢迎加入97随访！</h4>

  <p>您的账户已成功激活，现在您可以登录使用。</p>
  <p>
  <input type="button" id="login" value="登录" />
  </p>
{% endblock body %}

<!-- vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: -->
