{% extends "picture-base.html" %}
{% load staticfiles %}

{% block title %}
修改密码 | 医时代
{% endblock %}

{% block othercss %}
<link rel="stylesheet" href="{% static "stylesheets/sass/registration.css" %}">
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // home url
    var home_url = '{% url go_home %}';

    $(document).ready(function() {
      $("#go-home").bind("click", function() {
        window.location.href = home_url;
      });
    });
  </script>
{% endblock %}

{% block body %}
  <h2>加入医时代 &emsp; 科学了解乙肝治疗</h2>

  <h4>密码修改成功！</h4>

  <p>
  <input type="button" id="go-home" value="返回个人主页" />
  </p>
{% endblock body %}

<!-- vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: -->
