{% extends "picture-base.html" %}
{% load staticfiles %}

{% block title %}
重设密码 | 医时代
{% endblock %}

{% block othercss %}
<link rel="stylesheet" href="{% static "stylesheets/sass/registration.css" %}">
{% endblock %}

{% block body %}
  <h2>加入医时代 &emsp; 科学了解乙肝治疗</h2>

  <p>
  忘记了密码？
  </p>
  <p>
  请在下面输入您注册时使用的邮箱地址，
  我们将把重设密码的链接通过邮件发给您。
  </p>

  <form action="" method="post">{% csrf_token %}
    <table class="password-reset">
      <tr>
        <td>
          <input type="text" name="email" value="{{ form.email.value|default_if_none:"" }}" placeholder="您注册时的邮箱地址" class="email">
        </td>
        <td class="error">{{ form.email.errors|join:"" }}</td>
      </tr>
    </table>
    <input type="submit" value="申请重设密码" />
  </form>
{% endblock %}

<!-- vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: -->
