{% extends "picture-base.html" %}
{% load staticfiles %}

{% block title %}
重设密码 | 97 随访
{% endblock %}

{% block othercss %}
<link rel="stylesheet" href="{% static "stylesheets/sass/registration.css" %}">
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // password_reset url
    var password_reset_url = '{% url password_reset %}';

    $(document).ready(function() {
      $("#password-reset").bind("click", function() {
        window.location.href = password_reset_url;
      });
    });
  </script>
{% endblock %}

{% block body %}
  <h2>加入97随访 &emsp; 科学了解乙肝治疗</h2>

  <h4>
  密码重设邮件已发送！
  </h4>
  <p>
  我们已经向您提交的邮箱地址发送了密码重设说明，
  请注意查收邮件，并按邮件说明来重新设置密码。
  </p>

  <p>
  还没收到邮件？您可以尝试再次申请重设密码。
  </p>
  <p>
  <input type="button" id="password-reset" value="申请重设密码" />
  </p>

{% endblock %}

<!-- vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: -->
