{% extends "picture-base.html" %}
{% load staticfiles %}

{% block title %}
注册账户 | 97随访
{% endblock %}

{% block bodyclasses %}{{ block.super }} registration signup{% endblock %}
{% block othercss %}
<link rel="stylesheet" href="{% static "stylesheets/sass/registration.css" %}">
{% endblock %}
{% block body %}
<h2>加入97随访 &emsp; 科学了解乙肝治疗</h2>
<form action="" method="post">{% csrf_token %}
  	<table class="reg-form register-form">
  		{% for item in form %}
  		<tr>
  			<td>
  				<input type="{{ item.field.widget.input_type }}" name="{{ item.name }}" {% if item.field.widget.input_type == "text" %}value="{{ item.value|default_if_none:"" }}"{% endif %} placeholder="{{ item.label }}" class="{{ item.name }}">
  			</td>
  			<td class="help">{{ item.help_text }}</td>
			<td class="error">{{ item.errors|join:"" }}</td>
  		</tr>
  		{% endfor %}
	</table>
	<table class="form-errors">
	  {% for error in form.non_field_errors %}
	  <tr>
  		<td>{{ error }}</td>
      </tr>
      {% endfor %}
    </table>

  <input type="submit" value="提交注册" class="submit register"/>
  &emsp; | &emsp;
  <a href="{% url login %}">已有账号</a>
</form>
{% endblock body %}
