{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
取消关注卡片提示 | 随访工具 | 97 随访
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/delete_card_tip.css" %}"/>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static "javascripts/delete_card_tip.js" %}"></script>
{% endblock %}
	
{% block page %}
	<div id="delete_card_tip_container">
		<div class="delete_card_tip_title_line">
			<div class="delete_card_tip_title">提示</div>
			<div class="delete_card_tip_close"></div>
		</div>
		<div class="delete_card_tip_content">
		  取消关注指标后，该指标卡片将从本页面消失，您确定需要取消关注？
		</div>
		<div class="delete_card_tip_action">
			<a class="action_confirm_cancel">取消关注</a>
			<a class="action_confirm_ignore">继续关注</a>
		</div>
	</div>
{% endblock page %}

{# vim: set ts=2 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
