{% extends "base.html" %}
{% load static from staticfiles %}
{% load dict_get %}

{% block title %}
编辑历史数据 | 随访工具 | 医时代
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "plugins/jquery-ui/themes/97suifang/jquery-ui.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "plugins/qtip2/jquery.qtip.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/edit_history_data.css" %}" />
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static "plugins/moment/moment.min.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/moment/lang/zh-cn.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/jquery-ui/ui/minified/jquery.ui.core.min.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/jquery-ui/ui/minified/jquery.ui.datepicker.min.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/jquery-ui/ui/minified/i18n/jquery.ui.datepicker-zh-CN.min.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/qtip2/jquery.qtip.min.js" %}"></script>
	<script type="text/javascript" src="{% static "javascripts/edit_history_data.js" %}"></script>

  <script type="text/javascript">
    // 'static_url': used in js to load staticfiles
    // 'indicator_url': root url of 'apps/indicator'
    var static_url = "{{ STATIC_URL }}";
    var indicator_url = "/indicator/";

    // default the language to English
    moment.lang('en');
    // default date format
    var mm_date_fmt = "YYYY-MM-DD";
    
    // record id
    var record_id = {{ record_obj.id }};
    // indicator DATA_TYPES
    var DATA_TYPES_JS = {
        'INTEGER_TYPE': '{{ indicator_obj.INTEGER_TYPE }}',
        'FLOAT_TYPE': '{{ indicator_obj.FLOAT_TYPE }}',
        'RANGE_TYPE': '{{ indicator_obj.RANGE_TYPE }}',
        'FLOAT_RANGE_TYPE': '{{ indicator_obj.FLOAT_RANGE_TYPE }}',
        'PM_TYPE': '{{ indicator_obj.PM_TYPE }}',
        'KIND_TYPE': '{{ indicator_obj.KIND_TYPE }}'
    };
    var data_type = '{{ indicator_obj.dataType }}';
    // indicator record
    var record = $.parseJSON('{{ record_json|safe }}');
    // indicator confine
    var confine = $.parseJSON('{{ confine_json|safe }}');
    
    // range symbol: <low_num> <symbol> <high_num>
    var range_symbol = '~';
  </script>
{% endblock %}

{% block page %}
  <div id="edit_history_data_container">
    <div class="edit_history_data_title_line">
      <div class="edit_history_data_title">{{ indicator_obj.name }}</div>
      <div class="edit_history_data_close"></div>
    </div>
    <div class="edit_history_data_content">
      <div class="refer_range">
        <span class="refer_text">{{ indicator_dict|dict_get:"ref_text" }}</span>
        <span class="refer_value">{{ indicator_dict|dict_get:"ref_value"|safe }}</span>
        <span class="data_unit">{% if indicator_dict|dict_get:"std_unit_symbol" %}{{ indicator_dict|dict_get:"std_unit_symbol" }}{% endif %}</span>
      </div>
      <div class="edit_data">
        <div class="date">
          <span class="date_text">化验日期</span>
          <span class="date_value">{{ record_dict|dict_get:"date" }}</span>
        </div>
        <div class="data">
          <span class="prompt">结果</span>
          <span class="data_value">{{ record_dict|dict_get:"value_html"|safe }}&nbsp;</span>
          <span class="data_unit">{% if record_dict|dict_get:"unit_symbol" %}{{ record_dict|dict_get:"unit_symbol" }}{% endif %}</span>
        </div>
        <div class="state">
          <span class="prompt">状态</span>
          {% if record_dict|dict_get:"is_normal" == None %}
          {# 'is_normal': None #}
          <span class="text unknown">未知</span>
          {% elif not record_dict|dict_get:"is_normal" %}
          {# 'is_normal': False #}
          <span class="text abnormal">异常</span>
          {% else %}
          {# 'is_normal': True #}
          <span class="text normal">正常</span>
          {% endif %}
        </div>
        <input type="button" id="edit_btn" value="修改记录" />
        <input type="button" id="delete_btn" value="删除记录" />
        <div style="clear:both;"></div>
      </div>

      <div class="delete_prompt" style="display:none;">
        <div class="prompt_btns" id="cancel_delete_btn">
          <img alt="cancel_delete" src="{% static "images/cancel_edit.png" %}" />
        </div>
        <div class="prompt_btns" id="confirm_delete_btn">
          <img alt="confirm_delete" src="{% static "images/confirm_edit.png" %}" />
        </div>
        <div class="prompt">确认删除该记录？</div>
      </div>

      <div class="editing_data">
        {% csrf_token %}
        <div class="date">
          <div class="date_text">化验日期</div>
          <div class="datepicker_container">
            <!-- jquery-ui: datepicker -->
            <input class="datepicker date_input to_validate" id="editing_date_picker" type="text" value="{{ record_dict|dict_get:"date" }}" />
          </div>
        </div>
        <div class="data data_type_{{ indicator_obj.dataType }}">
          
          <div class="prompt">修改记录</div>
          {% if indicator_obj.dataType == indicator_obj.INTEGER_TYPE %}
          {# INTEGER_TYPE #}
          TODO
          {% elif indicator_obj.dataType == indicator_obj.FLOAT_TYPE %}
          {# FLOAT_TYPE #}
          <input class="data_input to_validate" type="text" value="{{ record_dict|dict_get:"value_text" }}" autocomplete="off" />
          {% elif indicator_obj.dataType == indicator_obj.RANGE_TYPE %}
          {# RANGE_TYPE #}
          <input class="data_input to_validate" type="text" value="{{ record_dict|dict_get:"value_text" }}" autocomplete="off" />
          {% elif indicator_obj.dataType == indicator_obj.FLOAT_RANGE_TYPE %}
          {# FLOAT_RANGE_TYPE #}
          <input class="data_input to_validate" type="text" value="{{ record_dict|dict_get:"value_text" }}" autocomplete="off" />
          {% elif indicator_obj.dataType == indicator_obj.PM_TYPE %}
          {# PM_TYPE #}
          <div class="radio_input to_validate">
            <input type="radio" id="minus_r" name="pm_data" value="-" />
            <label for="minus_r">阴性(-)</label>
            <input type="radio" id="plus_r" name="pm_data" value="+" />
            <label for="plus_r">阳性(+)</label>
          </div>
          {% elif indicator_obj.dataType == indicator_obj.KIND_TYPE %}
          {# KIND_TYPE #}
          TODO
          {% else %}
          {# UNKNOWN TYPE #}
          ERROR: unknown data type
          {% endif %}
        </div>
        <div class="data_unit">{% if record_dict|dict_get:"unit_symbol" %}{{ record_dict|dict_get:"unit_symbol" }}{% endif %}</div>
        <div class="reason">
          <div class="prompt">修改原因</div>
          <input class="reason_input to_validate" type="text" value="" />
        </div>
        <input type="button" id="save_btn" value="提交修改" />
      </div> <!-- end: edting_data -->
    </div> <!-- end: edit_history_data_content -->
  </div>
{% endblock page %}

{# vim: set ts=2 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
