{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
指标注释 | 随访工具 | 97 随访
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/index_desc.css" %}"/>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      //点大叉，关闭弹层页面
      $(".index_desc_close").bind("click", function(){
        parent.TB_remove();
        return false;
      });

      // collection
      {% if annotation_not_found %}
      {# change cursor style #}
      $("#collection_btn").css('cursor', 'auto');
      {% else %}
      {# annotation found #}
      $("#collection_btn").bind("update", function(e) {
        var text = $(this).data('is_collected') ? "点击取消收藏" : "收藏该注释";
        text += ' (已有' + $(this).data('collected_times') + '人收藏)';
        $(this).html(text);
      });
      // collection ajax request
      $("#collection_btn").bind("click", function() {
        var obj = $(this)
        obj.data('id', {{ annotation.id }});
        var url = '/blog/annotation/'+$(this).data('id')+'/collect/';
        $.ajax({
            url: url,
            dataType: 'json',
            success: function(data) {
                //console.log(obj);
                obj.data('is_collected', data.added);
                obj.data('collected_times', data.times);
                obj.trigger('update');
            }
        });
      });
      {% endif %} {# end: not annotation_not_found #}
      
      //前往医学知识库
      $(".go_library_btn").bind("click", function(){
        parent.delete_card();
        parent.TB_remove();
        parent.window.location.href = "{{ annotation_url }}";
        return false;
      });
      {% if annotation_not_found %}
      {# annotation not found, disable the button #}
      $(".go_library_btn").attr('disabled', 'disabled');
      {% endif %}
    });
  </script>
{% endblock %}

{% block page %}
	<div id="index_desc_container">
		<div class="index_desc_title_line">
      <div class="index_desc_title">
        {% if annotation_not_found %}
        {{ indicator.name }}
        {% else %}
        {{ annotation.brief_content }}
        {% endif %}
      </div>
			<div class="index_desc_close"></div>
		</div>
    <div class="index_desc_content">
      {% if annotation_not_found %}
      <div class="not_found">未找到与该指标相关的注释</div>
      {% else %}
      {{ annotation.detail|safe }}
      {% endif %}
    </div>
    <div class="collection" id="collection_btn">
      {% if is_collected %}
      点击取消收藏 (已有{{ collected_times }}人收藏)
      {% else %}
      收藏该注释 (已有{{ collected_times }}人收藏)
      {% endif %}
    </div>
    <div class="go_library">
      <input type="button" class="go_library_btn" value="前往医学知识库" />
    </div>
	</div>
{% endblock page %}

{# vim: set ts=2 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
