{% extends "base.html" %}
{% load static from staticfiles %}
{% load dict_get %}
{% load divisible_by %}

{% block title %}
指标状态 | 随访工具 | 97 随访
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "plugins/datepicker/datepicker.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "plugins/thickbox/thickbox.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/sheet_default.css" %}"/>
{% endblock %}

{% block jquery %}
  <script type="text/javascript" src="{% static "javascripts/jquery-1.6.min.js" %}"></script>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static "plugins/datepicker/datepicker.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/datepicker/language-zh-CN.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/thickbox/thickbox.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/highcharts/highcharts.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/highcharts/highcharts-more.js" %}"></script>
  <script type="text/javascript" src="{% static "javascripts/sheetdefault.js" %}"></script>
  <script type="text/javascript" src="{% static "javascripts/load_card.js" %}"></script>

  <!-- set variables
       'static_url': used in js to load staticfiles
       'indicator_url': root url of 'apps/indicator'
  -->
  <script>
    var static_url = "{{ STATIC_URL }}";
    var indicator_url = "/indicator/";
  </script>

  <!-- Highcharts related, draw records chart -->
  <script>
    {% for ind in indicators %}
      {% if not ind|dict_get:"record_empty" %} {# indicator has records #}
        var chart_{{ ind|dict_get:"id" }};
      {% endif %}
    {% endfor %}
  </script>
{% endblock %}

{% block page %}
  <iframe align="left" width="420" height="720" src="{% url indicator_sidebar %}" style="position:fixed;left:0;top:0" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>

  <div id="right_container">
    <div id="index_status_container">
      <div class="index_title">指标状态</div>

      <!-- 这里需要后端读取cookie，来判断用户是否已经点击大叉。
           若否，则显示；若是，则隐藏
      -->
      <div class="index_sub_title">
        <div class="content">以下可能是您感兴趣的指标，您可以点击卡片右上角“X”，取消关注。</div>
        <div class="close_icon" id="index_title_closed_icon"></div>
      </div>

      <!-- 左边的卡片加一个class "index_card_fir"，
           右边的卡片加一个class "index_card_sec"
      -->
      <!-- 卡片div的id为 "index_card_卡片id"，方便后续操作 -->
      {% for ind in indicators %}
        <div class="index_card {% cycle 'index_card_fir' 'index_card_sec' %}" id="index_card_{{ ind|dict_get:"id" }}">
          <div class="card_title">{{ ind|dict_get:"name" }}</div>
          <div class="refer_range">
            <span class="refer_text">{{ ind|dict_get:"ref_text" }}</span>
            <span class="refer_value">{{ ind|dict_get:"ref_value"|safe }}</span>
            <span class="data_unit">{{ ind|dict_get:"std_unit_symbol" }}</span>
          </div>
          {% if ind|dict_get:"record_empty" %} {# vim: {{{ #}
            {# if no record, then hide 'last_edit_data' #}
            <!-- "record_empty": True -->
            <div class="edit_data">
                <div class="last_edit_data" style="display: none;">
                  <span class="last_data">Null</span>
                  <span class="data_unit">{{ ind|dict_get:"std_unit_symbol" }}</span>
                </div>
                <img class="small_edit_icon" src="{% static "images/pen.png" %}" />
                <img class="explain_icon" src="{% static "images/nodata.png" %}" />
            </div> <!-- end: edit_data -->
            <div class="editing_data">
              <div class="input_container">
                <input class="edit_input_main" type="text" value="0" />
                x 10^
                <input class="edit_input_sub" type="text" value="0" />
              </div>
              <div class="add_minus_icon">
                <div class="add_icon"></div>
                <div class="minus_icon"></div>
              </div>
              <div class="data_unit">{{ ind|dict_get:"std_unit_symbol" }}</div>
              <div class="confirm_edit_icon"></div>
              <div class="cancel_edit_icon"></div>
            </div> <!-- end: editing_data -->
            <!-- hints to get started, display when has no record -->
            <div class="edit_icon_container">
              <div class="edit_icon"></div>
              <div class="curve_icon"></div>
              <div style="clear:both;"></div>
            </div>
            <div class="edit_text">点击右上角的按钮开始添加数据</div>
          {# vim: }}} #}
          {% else %} {# record_empty == False; vim: {{{ #}
            {# indicator has records #}
            <!-- "record_empty": False -->
            <div class="edit_data">
                <div class="last_edit_data" style="display: block;">
                  <span class="last_data">{{ ind|dict_get:"last_record"|dict_get:"value_str" }}</span>
                  <span class="data_unit">{{ ind|dict_get:"std_unit_symbol" }}</span>
                </div>
                <img class="small_edit_icon" src="{% static "images/pen.png" %}" />
                <img class="explain_icon" src="{% static "images/last_edit_data.png" %}" />
            </div> <!-- end: edit_data -->
            <div class="editing_data">
              <div class="input_container">
                <input class="edit_input_main" type="text" value="" autocomplete="off" />
                x 10^
                <input class="edit_input_sub" type="text" value="" autocomplete="off" />
              </div>
              <div class="add_minus_icon">
                <div class="add_icon"></div>
                <div class="minus_icon"></div>
              </div>
              <div class="data_unit">{{ ind|dict_get:"std_unit_symbol" }}</div>
              <div class="confirm_edit_icon"></div>
              <div class="cancel_edit_icon"></div>
            </div> <!-- end: editing_data -->
            <div class="refresh_data">
              <div class="refresh_text">
                记录日期: {{ ind|dict_get:"last_record"|dict_get:"date" }}
              </div>
              <div class="refresh_icon"></div>
              <div style="clear:both;"></div>
            </div>
            <div class="select_date">
              <input class="datepicker" type="text" autocomplete="off" />
            </div>
            <!-- chart rendered by Highcharts -->
            <div id="chart_{{ ind|dict_get:"id" }}" class="chart"></div>
          {% endif %} {# end: record_empty; vim: }}} #}

          <div class="card_bottom">
            <div class="understand_index"><a class="thickbox" href="{% url indicator_indexdesc %}?TB_iframe=true&no1_title&transfer_params&height=351&width=630&card_id={{ ind|dict_get:"id" }}">了解该指标</a></div>
            <!-- TODO -->
            <div class="simulation_sheet"><a href="{% static "images/demo_sheet.png" %}" class="thickbox">仿真化验单</a></div>
            <div class="detail_history">
              <a href="javascript:void(0)">详细历史记录</a>
            </div>
            <div style="clear:both;"></div>
          </div>

          {% comment %}
            thickbox插件:
            方便父级页面与子级弹出层的MVC隔离，
            方便子级弹出层的复杂需求，如：搜索、分页…
            height参数为弹出层页面高度+2，
            width参数为弹出层页面宽度+2，
            card_id参数为 "卡片id"
          {% endcomment %}
          <a class="card_delete_icon card_delete thickbox" href="{% url indicator_deletecardtip %}?TB_iframe=true&no1_title&transfer_params&height=166&width=630&card_id={{ ind|dict_get:"id" }}"></a>
        </div> <!-- end: index_card -->
      {% endfor %} {# end: indicators #}

      <!-- detail card info -->
      <div class="detail_card_info">
        <div class="card_title">乙肝病毒核算定量 (PCR)4<input class="collapse_btn" type="button" value="收 起" /></div>
        <div class="search_data_div">
          <input class="recent_one_week shift_week" start_date="2013-08-04" end_date="2013-08-10" type="button" value="最近1周" />
          <input class="recent_two_week shift_week unselected" start_date="2013-07-28" end_date="2013-08-10" type="button" value="最近2周" />
          <div class="datepicker_container end_date_container">
            <label>截止日期</label>
            <input class="datepicker end_date" id="search_end_date" type="text" value="" />
          </div>
          <div class="datepicker_container">
            <label class="start_label">起始日期</label>
            <input class="datepicker start_date" id="search_start_date" type="text" value="" />
          </div>
          <div style="clear:both;"></div>
        </div>
        <div id="detail_chart"></div>
        <div class="table_div">
          <table width="100%">
            <tr class="first_line">
              <td width="122px">日期</td>
              <td width="124px">时间</td>
              <td width="312px">记录</td>
            </tr>
          </table>
        </div>
        <div class="see_more">
          <input class="see_more_btn" type="button" value="浏览更多记录" />
        </div>
      </div> <!-- end: detail card info -->

      <!-- goto follow/unfollow indicator -->
      {% if indicators|length|divisible_by:"2" %}
      {# number of followed indicators: even #}
      <div class="act_card_container index_card_fir">
      {% else %}
      <div class="act_card_container index_card_sec">
      {% endif %}
        <div class="act_card">
          <a href="{% url indicator_fanduf %}">添加或删除关注指标</a>
        </div>
      </div> <!-- end: follow/unfollow indicator -->

    </div>
  </div>
{% endblock page %}

{# vim: set ts=2 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
