{% extends "base.html" %}
{% load static from staticfiles %}
{% load dict_get %}
{% load divisible_by %}

{% block title %}
指标状态 | 随访工具 | 97 随访
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
  <!--
  <link rel="stylesheet" type="text/css" href="{% static "plugins/datepicker/datepicker.css" %}" />
  -->
  <!--
  <link rel="stylesheet" type="text/css" href="{% static "plugins/jquery-ui/themes/base/minified/jquery.ui.core.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "plugins/jquery-ui/themes/base/minified/jquery.ui.datepicker.min.css" %}" />
  -->
  <link rel="stylesheet" type="text/css" href="{% static "plugins/jquery-ui/themes/97suifang/jquery-ui.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "plugins/thickbox/thickbox.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "plugins/qtip2/jquery.qtip.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "plugins/qtip2/qtip.97suifang.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/sheet_default.css" %}" />
{% endblock %}

{% block scripts %}
  <!--
  <script type="text/javascript" src="{% static "plugins/datepicker/datepicker.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/datepicker/language-zh-CN.js" %}"></script>
  -->
  <script type="text/javascript" src="{% static "plugins/jquery-ui/ui/minified/jquery.ui.core.min.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/jquery-ui/ui/minified/jquery.ui.datepicker.min.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/jquery-ui/ui/minified/i18n/jquery.ui.datepicker-zh-CN.min.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/thickbox/thickbox.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/highcharts/highcharts.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/highcharts/highcharts-more.js" %}"></script>
  <!-- library for parsing, validating, manipulating, and formatting dates -->
  <script type="text/javascript" src="{% static "plugins/moment/moment.min.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/moment/lang/zh-cn.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/qtip2/jquery.qtip.min.js" %}"></script>
  <script type="text/javascript" src="{% static "javascripts/sheet_default.js" %}"></script>
  <script type="text/javascript" src="{% static "javascripts/card_chart.js" %}"></script>

  <!-- global variables
       'static_url': used in js to load staticfiles
       'indicator_url': root url of 'apps/indicator'
  -->
  <script type="text/javascript">
    var static_url = "{{ STATIC_URL }}";
    var indicator_url = "/indicator/";
    // loading image for thickbox
    var thickbox_loading_image = "{% static "images/loadingAnimation.gif" %}";
  </script>

  <!-- Highcharts related, draw records chart -->
  <script type="text/javascript">
    // default the language to English
    moment.lang('en');
    // default date format
    var mm_date_fmt = "YYYY-MM-DD";
    // default to show 30 days' data
    var chart_range = 30;
    // default to get 10 data point
    var chart_dp_num = 10;
    // default get chart data by number
    var chart_getdata_type = "num";
    var end_datetime = moment();
    var begin_datetime = end_datetime.clone();
    begin_datetime.subtract('days', chart_range);
    var end_date_str = end_datetime.format(mm_date_fmt);
    var begin_date_str = begin_datetime.format(mm_date_fmt);

    // global variables
    // NOTES:
    // global variables of the chart's drawing options
    // name style: 'options_chart_<id>'
    // the variables are used in 'detail_history' binded function
    var detail_card_id = "-1"; // track the id of card in detail (string)
    var detail_chart = null;
    var detail_chart_str = "detail_chart";
    var detail_chart_options_str = "";
    var card_2_delete_id = "-1"; // track the id of card to be deleted (string)
    // regex to match float number in expoential notation
    var exp_regex = /^([+-]?)(\d\.\d+)[eE]\+?(-?)0*([1-9]+)$/;
    // range symbol: <low_num> <symbol> <high_num>
    var range_symbol = '~';

    // indicator DATA_TYPES
    var DATA_TYPES_JS = $.parseJSON('{{ DATA_TYPES_json|safe }}');
    // dataTypes of indicators
    var datatypes = $.parseJSON('{{ datatypes_json|safe }}');
    // recordempty of indicators
    var recordempty = $.parseJSON('{{ recordempty_json|safe }}');
    // confines of indicators
    var confines = $.parseJSON('{{ confines_json|safe }}');

    // get indicator records data and 
    // draw the chart {{{
    function chart_getdata_draw(chart_str, card_id, options_str, type, num, begin, end) {
        type = type || "num";   // default get data by 'num'
        num = num || "";
        begin = begin || "";
        end = end || "";
        var time = moment().valueOf();
        $.ajax({
            type: 'get',
            url: indicator_url + 'ajax/get_card_data_chart',
            data: 'card_id='+card_id + '&type='+type + '&num='+num + '&begin='+begin + '&end='+end + '&time='+time,
            dataType: 'json',
            success: function (dataJson) {
                //console.log(dataJson);
                if (dataJson.failed) {
                    // getdata failed or get no data
                    // XXX: tooltip
                    return false;
                }
                else if (dataJson.number_rsp == 0) {
                    // show 'edit_hint'
                    toggle_edit_hint(card_id, "show");
                }
                else {
                    var begin_dt = moment(dataJson.begin_rsp);
                    var end_dt = moment(dataJson.end_rsp);
                    if (dataJson.number_rsp == 1) {
                        // only one data point
                        // (3days) dp_date (4days)
                        begin_dt.subtract('days', 3);
                        end_dt.add('days', 4);
                    }
                    else {
                        var diff_days = end_dt.diff(begin_dt, 'days');
                        var days_toadd = Math.floor(diff_days*0.10) + 1;
                        end_dt.add('days', days_toadd);
                    }
                    // set data
                    window[options_str].xAxis.min = begin_dt.valueOf();
                    window[options_str].xAxis.max = end_dt.valueOf();
                    window[options_str].series[0].data = dataJson.data;
                    // draw the chart
                    // 'chart_str' is the global var name of this chart
                    // destroy original chart and
                    // redraw with new options and data
                    if (window[chart_str] != null) {
                        window[chart_str].destroy();
                        window[chart_str] = null;
                    }
                    window[chart_str] = new Highcharts.Chart(window[options_str]);
                }
            },
        });
    } // }}}

    {% for ind in indicators %}
      {% if ind|dict_get:"dataType" == DATA_TYPES|dict_get:"INTEGER_TYPE" %}
        {# INTEGER_TYPE #}
        {# TODO #}
      {% elif ind|dict_get:"dataType" == DATA_TYPES|dict_get:"FLOAT_TYPE" %}
        {# FLOAT_TYPE #}
        var chart_{{ ind|dict_get:"id" }};
        // global var name style: 'options_chart_<id>'
        // keep the name style, used in 'detail_history' binded functions
        var options_chart_{{ ind|dict_get:"id" }} = { // {{{
          chart: {
            type: 'areaspline',
            renderTo: 'chart_{{ ind|dict_get:"id" }}'
          },
          labels: {
            items: [{   // custom label for unit_symbol
              html: '{{ ind|dict_get:"std_unit_symbol" }}',
              style: {
                left: '5px',
                top: '0px'
              }
            }]
          },
          series: [{
            data: []
          }],
          tooltip: {
            formatter: function() {
              return '<span style="color:#969696;font-weight:bold;">' + Highcharts.dateFormat('%Y-%m-%d', this.x) + '</span>' +'<br />' + '<span style="color:#464646;font-weight:bold;">' + this.y + ' ({{ ind|dict_get:"std_unit_symbol" }})' + '</span>';
            }
          },
          xAxis: {
            min: null,
            max: null
          },
          yAxis: {
            labels: {
              useHTML: true,
              formatter: function() {
                var value = this.value;
                if (value > 9999.0) {
                  var value_str = value.toExponential(2);
                  var m = exp_regex.exec(value_str);
                  var ylabel = m[1] + m[2].replace(/(\.0*|0*)$/, '') + '&times;10<sup>' + m[3]+m[4] + '</sup>';
                }
                else {
                  var ylabel = value.toString();
                }
                return ylabel;
              }
            }
          }
        }; // }}}
        // draw chart
        $(document).ready(function() {
          chart_getdata_draw("chart_{{ ind|dict_get:"id" }}",
            {{ ind|dict_get:"id" }},
            "options_chart_{{ ind|dict_get:"id" }}",
            chart_getdata_type, chart_dp_num,
            null, null
          );
        });
      {% elif ind|dict_get:"dataType" == DATA_TYPES|dict_get:"RANGE_TYPE" %}
        {# RANGE_TYPE #}
        var chart_{{ ind|dict_get:"id" }};
        var options_chart_{{ ind|dict_get:"id" }} = { // {{{
          chart: {
            type: 'areasplinerange',
            renderTo: 'chart_{{ ind|dict_get:"id" }}'
          },
          labels: {
            items: [{   // custom label for unit_symbol
              html: '{{ ind|dict_get:"std_unit_symbol" }}',
              style: {
                left: '5px',
                top: '0px'
              }
            }]
          },
          series: [{
            data: []
          }],
          tooltip: {
            formatter: function() {
              return '<span style="color:#969696;font-weight:bold;">' + Highcharts.dateFormat('%Y-%m-%d', this.x) + '</span>' + '<br />' + '<span style="color:#464646;font-weight:bold;">' + this.point.low + ' &sim; ' + this.point.high + ' ({{ ind|dict_get:"std_unit_symbol" }})' + '</span>';
            }
          },
          xAxis: {
            min: null,
            max: null
          },
          yAxis: {
            labels: {
              useHTML: true,
              formatter: function() {
                var value = this.value;
                if (value > 9999.0) {
                  var value_str = value.toExponential(2);
                  var m = exp_regex.exec(value_str);
                  var ylabel = m[1] + m[2].replace(/(\.0*|0*)$/, '') + '&times;10<sup>' + m[3]+m[4] + '</sup>';
                }
                else {
                  var ylabel = value.toString();
                }
                return ylabel;
              }
            }
          }
        }; // }}}
        // draw chart
        $(document).ready(function() {
          chart_getdata_draw("chart_{{ ind|dict_get:"id" }}",
            {{ ind|dict_get:"id" }},
            "options_chart_{{ ind|dict_get:"id" }}",
            chart_getdata_type, chart_dp_num,
            null, null
          );
        });
      {% elif ind|dict_get:"dataType" == DATA_TYPES|dict_get:"FLOAT_RANGE_TYPE" %}
        {# FLOAT_RANGE_TYPE #}
        {# TODO #}
      {% elif ind|dict_get:"dataType" == DATA_TYPES|dict_get:"PM_TYPE" %}
        {# PM_TYPE #}
        {# TODO #}
      {% else %}
        {# unknown TYPE #}
      {% endif %} {# end: DATA_TYPES #}
    {% endfor %}
  </script>
{% endblock %}

{% block page %}
  {% csrf_token %}

  <iframe align="left" width="420" height="1020" src="{% url indicator_sidebar %}" style="position:fixed;left:0;top:0;z-index:99;" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>

  <!-- TODO -->
  <div id="login_container">
    <div class="logged-in" id="login">
      <img class="user-photo" alt="" src="{% static "images/userPhoto.jpg" %}" />
      <span class="number-block green-block user-level">6</span>
      <span class="drop-down-area">
        <span class="user-name">username</span>
        <img class="drop-down-menu-button" alt="" src="{% static "images/icon_down.png" %}" />
      </span>
      <div class="drop-down-menu" tabindex="0" onblur="javascript:alert('blur');" onfocus="javascript:alert('focus')">
        <div class="text-pointer"></div>
        <ul class="links">
          <li><a href="javascript:void(0)">修改密码</a></li>
          <li><a href="javascript:void(0)">完善信息</a></li>
          <li class="last"><a href="javascript:void(0)">退出</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="right_container">
    <div id="index_status_container">
      <div class="index_title">指标状态</div>

      {% comment %}
      <!-- 这里需要后端读取cookie，来判断用户是否已经点击大叉。
           若否，则显示；若是，则隐藏
      -->
      <div class="index_sub_title">
        <div class="content">以下可能是您感兴趣的指标，您可以点击卡片右上角“X”，取消关注。</div>
        <div class="close_icon" id="index_title_closed_icon"></div>
      </div>
      {% endcomment %}

      <!-- 左边的卡片加一个class "index_card_fir"，
           右边的卡片加一个class "index_card_sec"
      -->
      <!-- 卡片div的id为 "index_card_卡片id"，方便后续操作 -->
      {% for ind in indicators %}
        <div class="index_card {% cycle 'index_card_fir' 'index_card_sec' %} {% if ind|dict_get:"recommended" %}recommended{% endif %} {% if ind|dict_get:"record_empty" %}record_empty{% endif %}" id="index_card_{{ ind|dict_get:"id" }}">
          <div class="card_title">{{ ind|dict_get:"name" }}</div>
          <div class="refer_range">
            <span class="refer_text">{{ ind|dict_get:"ref_text" }}</span>
            <span class="refer_value">{{ ind|dict_get:"ref_value"|safe }}</span>
            <span class="data_unit">{% if ind|dict_get:"std_unit_symbol" %}({{ ind|dict_get:"std_unit_symbol" }}){% endif %}</span>
          </div>

          <div class="edit_data">
            {% if ind|dict_get:"record_empty" %}
            {# record_empty==True, hide 'last_edit_data' #}
            <div class="last_edit_data" style="display: none;">
            {% else %}
            {# indicator has records #}
            <div class="last_edit_data" style="display: block;">
            {% endif %}
              <span class="data_value">{{ ind|dict_get:"last_record"|dict_get:"value_html"|safe }}</span>
              <span class="data_unit">{% if ind|dict_get:"std_unit_symbol" %}({{ ind|dict_get:"std_unit_symbol" }}){% endif %}</span>
            </div>
            <img class="small_edit_icon" src="{% static "images/pen.png" %}" />
            <!-- explain_icon -->
            {% if ind|dict_get:"record_empty" %}
            <img class="explain_icon nodata_icon" src="{% static "images/nodata.png" %}" style="display: block;" />
            <img class="explain_icon lastdata_icon" src="{% static "images/last_edit_data.png" %}" style="display: none;" />
            {% else %}
            <img class="explain_icon nodata_icon" src="{% static "images/nodata.png" %}" style="display: none;" />
            <img class="explain_icon lastdata_icon" src="{% static "images/last_edit_data.png" %}" style="display: block;" />
            {% endif %}
            <div style="clear:both;"></div>
            <!-- last edit date -->
            {% if ind|dict_get:"record_empty" %}
            <div class="last_edit_date" style="display: none;">
            {% else %}
            <div class="last_edit_date" style="display: block;">
            {% endif %}
              <span class="date_prompt">记录日期</span>
              <span class="date_value">{{ ind|dict_get:"last_record"|dict_get:"date" }}</span>
            </div>
            <!-- refresh icon -->
            {% comment %}
            {% if ind|dict_get:"record_empty" %}
            <div class="refresh_icon" style="display: none;"></div>
            {% else %}
            <div class="refresh_icon" style="display: block;"></div>
            {% endif %}
            {% endcomment %}
            <div style="clear:both;"></div>
          </div> <!-- end: edit_data -->

          <div class="editing_data">
            <div class="data data_type_{{ ind|dict_get:"dataType" }}">
              <!-- <div class="prompt">记录</div> -->
              {% if ind|dict_get:"dataType" == DATA_TYPES|dict_get:"INTEGER_TYPE" %}
              {# INTEGER_TYPE #}
              TODO
              {% elif ind|dict_get:"dataType" == DATA_TYPES|dict_get:"FLOAT_TYPE" %}
              {# FLOAT_TYPE #}
              <input class="data_input to_validate" type="text" value="" autocomplete="off" />
              {% elif ind|dict_get:"dataType" == DATA_TYPES|dict_get:"RANGE_TYPE" %}
              {# RANGE_TYPE #}
              <input class="data_input to_validate" type="text" value="" autocomplete="off" />
              {% elif ind|dict_get:"dataType" == DATA_TYPES|dict_get:"FLOAT_RANGE_TYPE" %}
              {# FLOAT_RANGE_TYPE #}
              <input class="data_input to_validate" type="text" value="" autocomplete="off" />
              {% elif ind|dict_get:"dataType" == DATA_TYPES|dict_get:"PM_TYPE" %}
              {# PM_TYPE #}
              <div class="radio_input to_validate">
                <input type="radio" id="minus_r" name="pm_data" value="-" />
                <label for="minus_r">阴性(-)</label>
                <input type="radio" id="plus_r" name="pm_data" value="+" />
                <label for="plus_r">阳性(+)</label>
              </div>
              {% else %}
              {# UNKNOWN TYPE #}
              ERROR: unknown data type
              {% endif %}
            </div>
            <div class="data_unit">{% if ind|dict_get:"std_unit_symbol" %}({{ ind|dict_get:"std_unit_symbol" }}){% endif %}</div>
            <div class="confirm_edit_icon"></div>
            <div class="cancel_edit_icon"></div>
            <div style="clear:both;"></div>
            <div class="date">
              <div class="datepicker_container">
                <input class="datepicker date_input to_validate" type="text" autocomplete="off" />
              </div>
            </div>
          </div> <!-- end: editing_data -->

          <!-- edit_hint -->
          {% if ind|dict_get:"record_empty" %}
          <div class="edit_icon_container" style="display: block;">
          {% else %}
          <div class="edit_icon_container" style="display: none;">
          {% endif %}
            <div class="edit_icon"></div>
            <div class="curve_icon"></div>
            <div style="clear:both;"></div>
            <div class="edit_text">点击右上角的按钮开始添加数据</div>
            <div style="clear:both;"></div>
          </div>
          <!-- chart rendered by Highcharts -->
          {% if ind|dict_get:"record_empty" %}
          <div class="chart" id="chart_{{ ind|dict_get:"id" }}" style="display: none;"></div>
          {% else %}
          <div class="chart" id="chart_{{ ind|dict_get:"id" }}" style="display: block;"></div>
          {% endif %}

          <div class="card_bottom">
            <div class="understand_index"><a class="thickbox" href="{% url indicator_indexdesc %}?card_id={{ ind|dict_get:"id" }}&url_type=html&no_title=true&TB_iframe=true&height=367&width=630">了解该指标</a></div>
            <!-- TODO -->
            <div class="simulation_sheet"><a href="{% static "images/demo_sheet.png" %}" class="thickbox">仿真化验单</a></div>
            <div class="detail_history">
              <a href="javascript:void(0)">详细历史记录</a>
            </div>
            <div style="clear:both;"></div>
          </div>

          {% comment %}
            thickbox插件:
            方便父级页面与子级弹出层的MVC隔离，
            方便子级弹出层的复杂需求，如：搜索、分页…
            height参数为弹出层页面高度+2，
            width参数为弹出层页面宽度+2，
            card_id参数为 "卡片id"
          {% endcomment %}
          <a class="card_delete_icon card_delete thickbox" href="{% url indicator_deletecardtip %}?card_id={{ ind|dict_get:"id" }}&url_type=html&no_title=true&TB_iframe=true&height=166&width=630"></a>
        </div> <!-- end: index_card -->
      {% endfor %} {# end: indicators #}

      <!-- detail card info -->
      <div class="detail_card_info">
        <div class="card_title">
          <div class="title">Indicator</div>
          <input class="collapse_btn" type="button" value="收 起" />
        </div>
        <div class="search_data_div">
          <!-- two buttons default to unselected -->
          <input class="recent_three_month shift_date unselected" begin_date="2013-08-04" end_date="2013-08-10" type="button" value="最近三个月" />
          <input class="recent_six_month shift_date unselected" begin_date="2013-07-28" end_date="2013-08-10" type="button" value="最近六个月" />
          <div class="datepicker_container end_date_container">
            <label class="end_label">截止日期</label>
            <input class="datepicker end_date" id="search_end_date" type="text" value="" />
          </div>
          <div class="datepicker_container begin_date_container">
            <label class="begin_label">起始日期</label>
            <input class="datepicker begin_date" id="search_begin_date" type="text" value="" />
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="chart" id="detail_chart"></div>
        <div class="table_div">
          <table width="100%" id="detail_card_table">
            <tr class="first_line">
              <td class="date" width="124px">化验日期</td>
              <td class="record" width="312px">数据记录</td>
              <td class="state" width="122px">状态</td>
            </tr>
          </table>
        </div>
        <div class="see_more">
          <input class="see_more_btn" type="button" value="浏览更多记录" />
        </div>
      </div> <!-- end: detail card info -->

      <!-- goto follow/unfollow indicator -->
      {% if indicators|length|divisible_by:"2" %}
      {# number of followed indicators: even #}
      <div class="act_card_container index_card_fir">
      {% else %}
      <div class="act_card_container index_card_sec">
      {% endif %}
        <div class="act_card">
          <a href="{% url indicator_fanduf %}">添加或删除关注指标</a>
        </div>
      </div> <!-- end: follow/unfollow indicator -->

    </div>
  </div>
{% endblock page %}

{# vim: set ts=2 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
