{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclasses %}{{ block.super }} sidebar-first picture-base left-picture{% endblock %}
{% block sidebar_first %}
<aside id="sidebar-first" class="region-sidebar-first">
	<div class="background"></div>
	{% block sidebar_first_content %}{% endblock %}
	<header id="header">
		<div id="logo">
			{% block logo %}
			<img src="{% static "images/logo-overlay-white.png" %}" alt="">
			{% endblock %}
		</div>
	</header>
</aside>
{% endblock %}
{% block body %}
{% endblock %}