{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclasses %}{{ block.super }} sidebar-first picture-base left-picture{% endblock %}
{% block sidebar_first %}
<aside id="sidebar-first" class="region-sidebar-first">
	<div class="background"></div>
	{% block sidebar_first_content %}{% endblock %}
	<header id="header">
		<div id="logo" style="margin-left:40px;">
			{% block logo %}
			<a href="/blog/index"><img src="{% static "images/slilogo-white.png" %}" alt=""></a>
			{% endblock %}
		</div>
	</header>
</aside>
{% endblock %}
{% block body %}
{% endblock %}