/*
 * How To Change Radio Button Checkbox Style in CSS:
 * http://viralpatel.net/blogs/css-radio-button-checkbox-background/
 */
input[type="radio"] {
	display: none;
	margin: 4px;
	vertical-align: middle;
}
input[type="radio"] + label {
	display: inline-block;
	height: 17px;
	line-height: 17px;
	margin-right: 2px;
	padding: 2px 7px;
	background-color: #F3F3F1;
	border: 1px solid #9C9C9C;
}
input[type="radio"]:checked + label {
	background-image: none;
	background-color: #99CC33;
}

#edit_history_data_container {
	width: 588px;
	height: 230px;
	background-color: #FFFFFF;
	border: 1px solid #94C721;
	padding: 0 20px 0 20px;
	border-radius: 3px;
}
.edit_history_data_title_line {
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #D6D0D6;
	width: 588px;
	margin-top: 10px;
}
.edit_history_data_title_line .edit_history_data_title {
	font-weight: bold;
	color: #4A4A4A;
	font-size: 18px;
	float: left;
}
.edit_history_data_title_line .edit_history_data_close {
	float: right;
	background: url('../images/closed.png') no-repeat;
	height: 11px;
	width: 11px;
	margin: 15px 0 0 0;
	cursor: pointer;
}
.edit_history_data_content {
	color: #4A4A4A;
	font-size: 14px;
	margin-top:10px;
}
.edit_history_data_content .refer_range {
	height: 26px;
	line-height: 26px;
	margin-top: 6px;
	margin-bottom: 10px;
}
.edit_history_data_content .refer_range .refer_text {
	margin-right: 8px;
	margin-bottom:-5px;
}
.edit_history_data_content .refer_range .refer_value {
	margin-right: 8px;
	margin-bottom:-10px;
}
.edit_history_data_content .edit_data {
	line-height: 26px;
}
.edit_history_data_content .edit_data .date {
	height: 26px;
	line-height: 26px;
	margin-top: -10px;
}
.edit_history_data_content .edit_data .date .date_text {
	margin-right: 8px;
}
.edit_history_data_content .edit_data .data {
	height: 26px;
	line-height: 26px;
}
.edit_history_data_content .edit_data .data .prompt {
	margin-right: 8px;
}
.edit_history_data_content .edit_data .state {
	height: 26px;
	line-height: 26px;
	float: left;
}
.edit_history_data_content .edit_data .state .prompt {
	margin-right: 8px;
}
.edit_history_data_content .edit_data .state .text {
	font-weight: bold;
}
.edit_history_data_content .edit_data .state .normal {
	/*background-color: #B8DB70;*/
	padding: 2px;
}
.edit_history_data_content .edit_data .state .abnormal {
	color: #99CC33;
	padding: 2px;
}
.edit_history_data_content .edit_data .state .unknown {
	background-color: #B3D9FF;
	padding: 2px;
}
.edit_history_data_content .edit_data #delete_btn {
    background-color: rgb(50, 53, 61);
    border-radius: 3px 3px 3px 3px;
    color: rgb(255, 255, 255);
    float: right;
    font-size: 15px;
    height: 35px;
    margin-right: 15px;
    margin-top: 5px;
    padding: 1px 26px 1px 20px;
    width: 100px;
}
.edit_history_data_content .edit_data #edit_btn, .edit_history_data_content .editing_data #save_btn {
    border-radius: 3px 3px 3px 3px;
    float: right;
    font-size: 15px;
    height: 35px;
    margin-top: 5px;
    padding: 1px 26px 1px 20px;
    width: 100px
}
.edit_history_data_content .delete_prompt {
    float: right;
    height: 35px;
    margin-top: 10px;
}
.edit_history_data_content .delete_prompt div {
    float: right;
    margin-right: 10px;
}
.edit_history_data_content .delete_prompt .prompt {
    font-size: 16px;
    line-height: 24px;
    padding: 1px 10px 1px 10px;
}
.edit_history_data_content .delete_prompt .prompt_btns {
    cursor: pointer;
}


.edit_history_data_content .editing_data {
	line-height: 26px;
	display: none;
}
.edit_history_data_content .editing_data .date {
	height: 26px;
	line-height: 26px;
	position: relative;
	margin-bottom: 2px;
}
.edit_history_data_content .editing_data .date .date_text {
	margin-right: 8px;
	float: left;
}
.edit_history_data_content .editing_data .date .datepicker_container {
	width: 148px;
	float: left;
	position: relative;
}
.edit_history_data_content .editing_data .date .datepicker {
	background: none repeat scroll 0 0 rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 3px 3px 3px 3px;
    color: rgb(217, 217, 217);
    height: 30px;
    line-height: 17px;
    margin: -3px 0 15px;
    padding-top: 2px;
    position: absolute;
    width: 123px;
}

.edit_history_data_content .editing_data .date .datepicker:focus {
	outline:0;
	border-color:#99cc33;
}

.edit_history_data_content .editing_data .date .ui-datepicker-trigger {
	position: absolute;
	top: 5px;
	right: 20px;
	/* margin-right: -10px; */
	cursor: pointer;
	margin-top: -1px;
	/* margin-left: -50px; */
	
}
.edit_history_data_content .editing_data .date .datepicker_container .valid {
	color:inherit;
}
.edit_history_data_content .editing_data .date .datepicker_container .invalid {
	border: 2px solid red;
}
.edit_history_data_content .editing_data .data  {
	line-height: 26px;
	float: left;
	top: 1px;
}
.edit_history_data_content .editing_data .data .prompt {
	margin-right: 8px;
	float: left;
	margin-top: 16px;
	line-height: 1.6em;
}
.edit_history_data_content .editing_data .data input {
	color: #5C5C5C;
	background-color: #FFFFFF;
	border: 1px solid rgb(217,217,217);
	border-radius: 3px;
	padding-left: 10px;
}

.edit_history_data_content .editing_data .data input:focus {
	border-color:#99cc33;
}

.edit_history_data_content .editing_data .data .valid {
	/* border: 2px solid green; */
	color: inherit;
}
.edit_history_data_content .editing_data .data .invalid {
	border: 2px solid red;
}
.edit_history_data_content .editing_data .data .radio_input {
	margin-right: 8px;
	float: left;
}
.edit_history_data_content .editing_data .data .data_input {
	float: right;
    height: 28px;
    line-height: 17px;
    margin-right: 8px;
    margin-top: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 120px;
}
.edit_history_data_content .editing_data .data_unit {
	height: 26px;
	line-height: 26px;
	margin-right: 8px;
	margin-top: 16px;
}
.edit_history_data_content .editing_data .reason {
	height: 26px;
	line-height: 26px;
	float: left;
}
.edit_history_data_content .editing_data .reason .prompt {
	margin-right: 8px;
	float: left;
	margin-top: 10px;
}
.edit_history_data_content .editing_data .reason input {
	color: #5C5C5C;
	background-color: #FFFFFF;
	border: 1px solid #9C9C9C;
}
.edit_history_data_content .editing_data .reason .valid {
	border: 2px solid green;
}
.edit_history_data_content .editing_data .reason .invalid {
}
.edit_history_data_content .editing_data .reason .reason_input {
	width: 330px;
	height: 26px;
	line-height: 17px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 7px;
	border-radius: 3px;
	border-color: rgb(217,217,217);
}

.edit_history_data_content .editing_data .reason .reason_input :focus{
	
	border-color:#99cc33;
	}
