<div class="signuptop black"><a href="sign.html" class="sign black">注册</a>|<a href="login.html" class="login black">登陆</a></div>
<div class="personal"><img id="userPhoto" src="/static/images/userPhoto.jpg">
  <div id="userLevel">99</div>
  <div id="userName" class="black">Maxwell_Lou</div>
  <div id="btn_down"></div>
</div>
<div class="personalcenter">
  <div class="hd"></div>
  <div class="bm"><a href="#">修改密码</a><a href="#">完善信息</a><a href="#">绑定手机</a><a href="#" class="last">退出</a></div>
  <div class="bd"></div>
</div>
