<html>
<head>
  <title>IndicatorRecord Details (id={{ object.id }})</title>
</head>

<body>
  <h1>IndicatorRecord Details (id={{ object.id }})</h1>

  <table>
    <tr>
      <td>indicator_name:</td>
      <td>{{ object.indicator.name }}</td>
    </tr>
    <tr>
      <td>user_username:</td>
      <td>{{ object.user.username }}</td>
    </tr>
    <tr>
      <td>created_at:</td>
      <td>{{ object.created_at }}</td>
    </tr>
    <tr>
      <td>updated_at:</td>
      <td>{{ object.updated_at }}</td>
    </tr>
    <tr>
      <td>date:</td>
      <td>{{ object.date }}</td>
    </tr>
    <tr>
      <td>unit_name:</td>
      <td>{{ object.unit.name }}</td>
    </tr>
    <tr>
      <td>value:</td>
      <td>{{ object.value }}</td>
    </tr>
    <tr>
      <td>val_max:</td>
      <td>{{ object.val_max }}</td>
    </tr>
    <tr>
      <td>val_min:</td>
      <td>{{ object.val_min }}</td>
    </tr>
    <tr>
      <td>notes:</td>
      <td>{{ object.notes }}</td>
    </tr>
  </table>
</body>
</html>
